.DS_Store
.vscode
components/arduino/
components/esp-dl/
components/esp-sr/
components/esp32-camera/
components/esp_littlefs/
components/esp-rainmaker/
components/esp-dsp/
esp-idf/
out/
build/
dist/
env.sh
sdkconfig
sdkconfig.old
version.txt
components/arduino_tinyusb/tinyusb/
dependencies.lock
tools/esptool/
