.DS_Store
.vscode
managed_components/
components/arduino/
components/esp-dl/
components/esp-sr/
components/esp32-camera/
components/esp_littlefs/
components/esp-rainmaker/
components/espressif__esp-dsp/
components/esp-insights/
components/arduino_tinyusb/tinyusb/
components/tflite-micro/
esp-idf/
out/
build/
dist/
env.sh
sdkconfig
sdkconfig.old
version.txt
dependencies.lock
managed_components/
target/
