name: Cron Deploy

on:
  schedule:
#             ┌───────────── minute (0 - 59)
#             │ ┌───────────── hour (0 - 23)
#             │ │ ┌───────────── day of the month (1 - 31)
#             │ │ │ ┌───────────── month (1 - 12 or JAN-DEC)
#             │ │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
#             │ │ │ │ │
#             │ │ │ │ │
#             │ │ │ │ │
#             * * * * *
    - cron:  '0 */6 * * *'
  workflow_dispatch:
    inputs:
      idf_branch:
        description: 'IDF branch to build'
        required: false
        default: ''
        type: string
      idf_tag:
        description: 'IDF tag to build (overrides branch HEAD)'
        required: false
        default: ''
        type: string
      idf_commit:
        description: 'IDF commit to build (overrides branch HEAD and tag)'
        required: false
        default: ''
        type: string
      lib_builder_branch:
        description: 'Branch of the lib-builder to use'
        required: false
        default: ''
        type: string
      targets:
        description: 'Comma-separated list of targets to build'
        required: false
        default: ''
        type: string
      arduino_branch:
        description: 'Arduino branch to use'
        required: false
        default: ''
        type: string
      deploy:
        description: 'Publish the libs and open a PR'
        required: false
        default: true
        type: boolean

defaults:
  run:
    shell: bash

jobs:
  build-libs:
    name: Build with IDF ${{ inputs.idf_branch || matrix.idf_branch }}
    if: github.repository_owner == 'espressif' || github.event_name == 'workflow_dispatch'
    uses: ./.github/workflows/cron_build.yml
    with:
      idf_branch: ${{ inputs.idf_branch || matrix.idf_branch }}
      idf_tag: ${{ inputs.idf_tag }}
      idf_commit: ${{ inputs.idf_commit }}
      lib_builder_branch: ${{ inputs.lib_builder_branch || matrix.lib_builder_branch }}
      targets: ${{ inputs.targets || matrix.targets }}
      arduino_source_branch: ${{ inputs.arduino_branch }}
      deploy: ${{ github.event_name == 'schedule' || inputs.deploy }}
    secrets: inherit
    strategy:
      fail-fast: false
      matrix:
        include:
          # - idf_branch: "release/v5.1"
          #   lib_builder_branch: "release/v5.1"
          #   targets: "esp32,esp32s2,esp32s3,esp32c3,esp32c6,esp32h2"
          # - idf_branch: "release/v5.3"
          #   lib_builder_branch: "release/v5.3"
          #   targets: "esp32,esp32s2,esp32s3,esp32c3,esp32c6,esp32h2,esp32p4"
          # - idf_branch: "release/v5.4"
          #   lib_builder_branch: "release/v5.4"
          #   targets: "esp32,esp32s2,esp32s3,esp32c3,esp32c6,esp32h2,esp32p4"
          - idf_branch: "release/v5.5"
            lib_builder_branch: "master"
            targets: "esp32,esp32s2,esp32s3,esp32c3,esp32c6,esp32h2,esp32p4,esp32p4_es,esp32c5"
