name: ESP32 Arduino Libs CI

on:
  push:
    branches:
    - master
  pull_request:
    paths:
      - "**"
      - "!**.md"
      - "!.github/workflows/cron_build.yml"
      - "!.github/workflows/cron.yml"
      - "!.github/workflows/docker.yml"
      - "!.github/workflows/repository_dispatch.yml"
      - "!tools/config_editor/**"
      - "!tools/docker/**"

concurrency:
  group: esp-idf-libs-${{github.event.pull_request.number || github.ref}}
  cancel-in-progress: true

jobs:
  build-libs:
    name: Build Libs for ${{ matrix.target }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - esp32
          - esp32c2
          - esp32c3
          - esp32c5
          - esp32c6
          - esp32c61
          - esp32h2
          - esp32p4
          - esp32s2
          - esp32s3
      fail-fast: false
    steps:
    - name: Checkout repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Install dependencies
      run: bash ./tools/prepare-ci.sh

    - name: Build Libs for ${{ matrix.target }}
      run: bash ./build.sh -e -t ${{ matrix.target }}

    - name: Upload build
      if: failure()
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: build-${{ matrix.target }}
        path: build

    - name: Upload archive
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: artifacts-${{ matrix.target }}
        path: dist

  combine-artifacts:
    name: Combine artifacts
    needs: build-libs
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e # v4.2.1
        with:
          path: dist
          pattern: artifacts-*
          merge-multiple: true

      - shell: bash
        run: |
          mkdir -p out
          find dist -name 'arduino-esp32-libs-esp*.tar.gz' -exec tar zxvf {} -C out \;
          cd out/tools/esp32-arduino-libs && tar zcf ../../../dist/esp32-arduino-libs.tar.gz * && cd ../../..
          cp out/package_esp32_index.template.json dist/package_esp32_index.template.json

      - name: Upload full esp32-arduino-libs archive
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: esp32-arduino-libs
          path: dist/esp32-arduino-libs.tar.gz

      - name: Upload package_esp32_index.template.json
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: package-esp32-index-json
          path: dist/package_esp32_index.template.json

